<div class="flex flex-col flex-auto min-w-0">

    <div class="mb-10">

        <nav
            class="bg-primary dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="https://flowbite.com/" class="flex items-center">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">StriveFlix</span>
                </a>
                <div class="flex md:order-2">
                    <button type="button"
                        class="text-dark bg-white hover:bg-white-800 focus:ring-4 focus:outline-none focus:ring-white-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-white-600 dark:hover:bg-blue-700 dark:focus:ring-white-800">ENTRAR</button>
                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <ul
                        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="#home"
                                class="block py-2 pl-3 pr-4 text-white rounded hover:bg-blue-100 md:hover:bg-transparent md:hover:text-white-700 md:p-0 md:dark:hover:text-white-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">HOME</a>
                        </li>
                        <li>
                            <a href="#sobre"
                                class="block py-2 pl-3 pr-4 text-white rounded hover:bg-blue-100 md:hover:bg-transparent md:hover:text-white-700 md:p-0 md:dark:hover:text-white-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">SOBRE</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block py-2 pl-3 pr-4 text-white rounded hover:bg-blue-100 md:hover:bg-transparent md:hover:text-white-700 md:p-0 md:dark:hover:text-white-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">CONTATOS</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block py-2 pl-3 pr-4 text-white rounded hover:bg-blue-100 md:hover:bg-transparent md:hover:text-white-700 md:p-0 md:dark:hover:text-white-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">SUPORTE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>

    <section id="home" class="py-8 my-8">
        <div
            class="flex flex-wrap items-center justify-items-center w-full grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4">

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

            <fuse-card class="flex flex-col max-w-80 w-full p-4 pb-4 filter-article mb-5">
                <div class="flex items-center">
                    <img class="w-15 rounded-lg object-cover" src="assets/images/cards/pmba.png" alt="Card cover image">
                    <div class="flex flex-col ml-3">
                        <div class="text-lg font-medium leading-tight">GCM - S. Luís de Montes Belos (GO)</div>
                    </div>
                </div>
                <div class="text-secondary font-medium text-md mt-4">Módulos do Curso</div>
                <div class="space-y-2">
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Raciocínio</div>
                    </div>
                    <div class="flex">
                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="ml-2 leading-5">Atenção e Memória</div>
                    </div>
                </div>
                <hr class="border-b my-4">
                <div class="flex items-center justify-between">
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold mr-1 text-red-800 bg-red-100">
                        vagas ilimitadas
                    </div>
                    <button class="px-3 text-sm" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                        Detalhes
                    </button>
                </div>
            </fuse-card>

        </div>
    </section>

    <section id="sobre" class="bg-white pt-8">
        <div class="container max-w-6xl mx-auto m-8">
            <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-primary-700">
                SOBRE
            </h2>
            <div class="w-full mb-4">
                <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-5/6 sm:w-1/2 p-6">
                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="text-gray-600 mb-8">
                        Arsha is a clean and modern business Bootstrap template designed specifically for startup,
                        apps
                        and
                        IT services. You will be able to showcase your content on mobile devices such as
                        smartphones,
                        tablets and all types of devices. Arsha's design is driven by minimalist and unique
                        sections.
                        With
                        this template pixel-perfect layout and neat sectioning, it will help you create a
                        professional-looking vagas ilimitadassite for your business in no time.

                        Arsha is built with the latest vagas ilimitadas technologies (Bootstrap framework, Sass etc.) with the
                        care
                        of
                        coding quality to make sure the template works with all browsers, devices with all screen
                        sizes.
                    </p>
                </div>
                <div class="w-full sm:w-1/2 p-6">
                    <figure class="max-w-md">
                        <img class="h-auto max-w-full rounded-lg" src="assets/images/sobre.jpg" alt="image description">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section id="servicos" class="bg-white border-b pb-8">
        <div class="container max-w-6xl mx-auto m-8">
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="flex flex-wrap">
                <div class="w-full sm:w-1/2 p-6">
                    <figure class="max-w-md">
                        <img class="h-auto max-w-full rounded-lg" src="assets/images/servicos.svg"
                            alt="image description">
                    </figure>
                </div>
                <div class="w-5/6 sm:w-1/2 p-6">
                    <div class="text-3xl font-bold">Lifetime Membership</div>
                    <div class="mt-2 leading-relaxed text-secondary">
                        Learn from like-minded individuals which are eager to make a living building stuff on the vagas ilimitadas.
                        Pay once and get lifetime access to the community.
                    </div>
                    <div class="flex items-center mt-10">
                        <div class="font-medium text-secondary">ALGUNS RECUSOS DA PLATAFORMA</div>
                        <div class="flex-auto ml-2 border-b-2"></div>
                    </div>
                    <!-- Features -->
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5 text-primary"
                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                            <div class="ml-2">Private forum access</div>
                        </div>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5 text-primary"
                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                            <div class="ml-2">Access to annual online conference</div>
                        </div>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5 text-primary"
                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                            <div class="ml-2">Member resources</div>
                        </div>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5 text-primary"
                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                            <div class="ml-2">Official member T-Shirt</div>
                        </div>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5 text-primary"
                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                            <div class="ml-2">Member resources</div>
                        </div>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5 text-primary"
                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                            <div class="ml-2">Official member T-Shirt</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="contatos" class="border-b shadow py-8">
        <div class="container max-w-7xl mx-auto m-4">
            <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-primary-700">
                CONTATOS
            </h2>
            <div class="w-full mb-4">
                <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 mt-1 justify-items-center">

                <fuse-card class="flex flex-col min-w-100 m-4">
                    <div class="flex flex-col gt-xs:flex-row sm:px-10 sm:py-4">
                        <div class="pl-6 mb-6">
                            <div class="text-2xl font-bold tracking-tight">Meus contatos</div>
                        </div>

                        <div class="bg-primary-200 shadow-lg rounded-lg p-6 m-4">
                            <div class="flex items-center mb-4">
                                <mat-icon [svgIcon]="'heroicons_outline:mail'"
                                    class="text-primary-700 icon-size-8 mr-4"></mat-icon>
                                <h4 class="text-xl font-bold">E-mail:</h4>
                            </div>
                            <p class="text-gray-700 text-lg">info@example.com</p>
                        </div>

                        <div class="bg-primary-200 shadow-lg rounded-lg p-6 m-4">
                            <div class="flex items-center mb-4">
                                <mat-icon [svgIcon]="'heroicons_outline:phone'"
                                    class="text-primary-700 icon-size-8 mr-4"></mat-icon>
                                <h4 class="text-xl font-bold">Telefone:</h4>
                            </div>
                            <p class="text-gray-700 text-lg">+1 5589 55488 55</p>
                        </div>
                    </div>
                </fuse-card>

                <fuse-card class="flex flex-col w-full filter-article m-4">
                    <div class="flex flex-col gt-xs:flex-row sm:px-10 sm:py-4">
                        <div class="mb-6">
                            <div class="text-2xl font-bold tracking-tight">Envie sua mensagem</div>
                            <div class="text-secondary">Nossa equipe de suporte entrará em contato com você em até 24
                                horas.</div>
                        </div>

                        <form class="space-y-3" [formGroup]="supportForm" #supportNgForm="ngForm">

                            <mat-form-field class="w-full">
                                <input matInput [placeholder]="'Nome'" [formControlName]="'name'" [required]="true">
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <mat-error *ngIf="supportForm.get('name').hasError('required')">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full">
                                <input matInput [placeholder]="'Assunto'" [formControlName]="'subject'"
                                    [required]="true">
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
                                <mat-error *ngIf="supportForm.get('subject').hasError('required')">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full">
                                <input type="email" matInput [placeholder]="'Email'" [formControlName]="'email'"
                                    [required]="true">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                <mat-error *ngIf="supportForm.get('email').hasError('required')">
                                    Campo obrigatório
                                </mat-error>
                                <mat-error *ngIf="supportForm.get('email').hasError('email')">
                                    Digite um endereço de e-mail válido
                                </mat-error>
                            </mat-form-field>
                            <div class="flex">
                                <mat-form-field class="fuse-mat-textarea w-full">
                                    <textarea matInput [placeholder]="'Mensagem'" [formControlName]="'message'"
                                        [required]="true" [rows]="5" matTextareaAutosize></textarea>
                                    <mat-icon class="icon-size-5" matPrefix
                                        [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                                    <mat-error *ngIf="supportForm.get('message').hasError('required')">
                                        Campo obrigatório
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Actions -->
                            <div class="flex items-center justify-end">
                                <button mat-button [color]="'accent'"
                                    [disabled]="supportForm.pristine || supportForm.untouched" (click)="clearForm()">
                                    Limpar
                                </button>
                                <button class="ml-2" mat-flat-button [color]="'primary'"
                                    [disabled]="supportForm.pristine || supportForm.invalid" (click)="sendForm()">
                                    Enviar
                                </button>
                            </div>
                        </form>

                    </div>
                </fuse-card>

            </div>
        </div>
    </section>

    <section id="suporte"
        class="container mx-auto text-center py-12 relative overflow-hidden bg-cover bg-no-repeat text-center">
        <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">
            Call to Action
        </h2>
        <h3 class="my-4 text-3xl leading-tight text-white">
            Main Hero Message to sell yourself!
        </h3>

        <button type="button"
            class="text-white bg-green-500 hover:bg-green-500/90 focus:ring-4 focus:outline-none focus:ring-green/50 font-medium rounded-full text-base px-6 py-3.5 text-center inline-flex items-center dark:focus:ring-green/55 mr-2 mb-2">
            <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-whatsapp mr-2" viewBox="0 0 16 16">
                <path
                    d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"
                    fill="white"></path>
            </svg>
            Fale Conosco
        </button>
    </section>

    <footer class="bg-white shadow dark:bg-gray-900">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">StriveFlix</span>
                </a>
                <ul
                    class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">
                            <mat-icon svgIcon="feather:instagram"></mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">
                            <mat-icon svgIcon="feather:facebook"></mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">
                            <mat-icon svgIcon="feather:linkedin"></mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{currentDate}}
                <a href="https://flowbite.com/" class="hover:underline">StriveFlix</a>. Todos os direitos reservados.
                Criado com muita dedicação por <a href="https://valecriar.com/" target="_blank"
                    class="text-blue-500 hover:underline">valecriar.com</a></span>
        </div>
    </footer>

</div>