.gradient {
    background: linear-gradient(90deg, var(--fuse-primary) 0%, #f43f5e 100%);
}

#suporte {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, rgba(0, 88, 76, 0.6), rgba(38, 102, 93, 0.8) 100%), url("../../../../assets/images/backgroud-suporte-1.jpg");
    // background-image: url("../../../../assets/images/backgroud-suporte-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

// #contatos .icon {
//     font-size: 20px;
//     color: #fff;
//     float: left;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.2);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50px;
//     transition: all 0.3s ease-in-out;
//     margin-right: 15px;
// }