<span class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase" [ngClass]="[background, color]">
    <span class="leading-relaxed whitespace-nowrap">{{tagName}}</span>
</span>