<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <app-header-page title="Nava Aula" primary="Aulas" secondary="Nova"></app-header-page>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

    </div>
</div>