/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

table {
    width: 100%;
}

/**snackBar**/

.msg-success {
    background-color: #28a745 !important;
    color: #fff;
    z-index: 99;
}

.msg-error {
    background-color: #dc3545;
    color: #fff;
    z-index: 99;
}

.mat-simple-snackbar {
    white-space: pre-line;
}

.mat-simple-snackbar-action button {
    color: #fff;
}