<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <app-header-page title="Novo Curso" primary="Cursos" secondary="Novo"></app-header-page>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <form class="flex flex-col p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" autocomplete="off" novalidate
            [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="grid grid-cols-5 gap-4">
                <div class="col-span-4">
                    <div class="flex">
                        <mat-form-field class="w-full">
                            <mat-label>Titulo</mat-label>
                            <input matInput [placeholder]="'Informe o Título do Curso'" formControlName="titulo"
                                [(ngModel)]="curso.titulo" required>
                            <mat-error *ngIf="f.titulo.hasError('required')">Campo obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="fuse-mat-textarea flex-auto">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput [placeholder]="'Descrição do Curso'" formControlName="descricao"
                                name="descricao" [(ngModel)]="curso.descricao" required></textarea>
                            <mat-error *ngIf="f['descricao'].errors?.['required']">Campo obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-span-1">
                    <!-- Avatar -->
                    <div class="flex flex-auto items-end mt-5">
                        <div
                            class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <!-- Upload / Remove avatar -->
                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                            <div class="absolute inset-0 flex items-center justify-center z-20">
                                <div>
                                    <input id="avatar-file-input"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                        [multiple]="false" [accept]="'image/jpeg, image/png'"
                                        (change)="uploadAvatar(avatarFileInput.files)" #avatarFileInput>
                                    <label
                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                        for="avatar-file-input" matRipple>
                                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                    </label>
                                </div>
                            </div>

                            <!-- Image/Letter -->
                            <img class="object-cover w-full h-full">
                            <!-- <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                A
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-5 gap-4">

                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Início</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="inicio" name="inicio"
                            [(ngModel)]="curso.inicio" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="f['inicio'].errors?.['required']">Campo obrigatório</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Fim</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="fim" name="fim"
                            [(ngModel)]="curso.fim" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error *ngIf="f['fim'].errors?.['required']">Campo obrigatório</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Mostrar Em</mat-label>
                        <input matInput [matDatepicker]="picker3" formControlName="publicar_em" name="publicar_em"
                            [(ngModel)]="curso.publicar_em">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Valor</mat-label>
                        <input class="text-right" matInput type="number" formControlName="valor" name="valor"
                            [(ngModel)]="curso.valor" required>
                        <span matPrefix>R$</span>
                        <mat-error *ngIf="f['valor'].errors?.['required']">Campo obrigatório</mat-error>
                    </mat-form-field>
                </div>

                <div class="items-center justify-center">
                    <div class="flex-auto leading-6 cursor-pointer" (click)="comments.toggle()">
                        Vagas limitadas
                    </div>
                    <mat-slide-toggle class="ml-2" [color]="'primary'" #comments formControlName="limitado">
                    </mat-slide-toggle>
                </div>
            </div>

            <!-- Divider -->
            <div class="mt-11 mb-10 border-t"></div>

            <!-- Actions -->
            <div class="flex items-center justify-end">
                <button mat-stroked-button type="button">Cancelar</button>
                <button class="ml-4" mat-flat-button [color]="'primary'" type="submit"
                    [disabled]="form.invalid">Salvar</button>
            </div>
        </form>

    </div>

</div>