<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <app-header-page title="Módulos" primary="Módulos" secondary="Lista"></app-header-page>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="mat-elevation-z8">

            <div class="w-80 p-3">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput [placeholder]="'Digite o titulo do módulo'" #searchInput autocomplete="off">
                </mat-form-field>
            </div>

            <table mat-table [dataSource]="modulos.data">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef> MÓDULO </th>
                    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                </ng-container>

                <ng-container matColumnDef="aulas">
                    <th mat-header-cell *matHeaderCellDef> AULAS </th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> STATUS </th>
                    <td mat-cell *matCellDef="let element">
                        <app-status [status]="element.status"></app-status>
                    </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef> EDITAR </th>
                    <td mat-cell *matCellDef="let element">
                        <a routerLink="/curso/update/{{element.id}}" mat-icon-button title="Editar">
                            <mat-icon class="mat-icon notranslate text-hint mat-icon-no-color">edit</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="excluir">
                    <th mat-header-cell *matHeaderCellDef> EXCLUIR </th>
                    <td mat-cell *matCellDef="let element">
                        <a mat-icon-button title="Deletar">
                            <mat-icon class="mat-icon notranslate text-hint mat-icon-no-color">delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator *ngIf="modulos" [length]="modulos.total" [pageSize]="modulos.per_page"
                [pageIndex]="modulos.current_page-1" (page)="pageNavigations($event)" showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>
</div>