<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        <img class="w-10 h-10 rounded-full" *ngIf="showAvatar && user.avatar" [src]="user.avatar">
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span class="mt-1.5 text-md font-medium">{{user.email}}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'feather:settings'" class="icon-size-5"></mat-icon>
        <span>Configurações</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>