<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Novo Módulo</div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" autocomplete="off" novalidate [formGroup]="form"
        (ngSubmit)="onSubmit()">

        <mat-form-field class="w-full">
            <mat-label>Titulo</mat-label>
            <input matInput [placeholder]="'Informe o Título do Módulo'" formControlName="titulo"
                [(ngModel)]="modulo.titulo" required>
            <mat-error *ngIf="f.titulo.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-textarea flex-auto">
            <mat-label>Descrição</mat-label>
            <textarea matInput [placeholder]="'Descrição do Módulo'" formControlName="descricao" name="descricao"
                [(ngModel)]="modulo.descricao"></textarea>
        </mat-form-field>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <button mat-stroked-button type="button" (click)="close()">Cancelar</button>
            <button class="ml-4" mat-flat-button [color]="'primary'" type="submit"
                [disabled]="form.invalid">Salvar</button>
        </div>
    </form>
</div>