<!-- Breadcrumbs -->
<div class="flex flex-wrap items-center font-medium">
    <div>
        <a class="whitespace-nowrap text-primary-500">{{primary}}</a>
    </div>
    <div class="flex items-center ml-1 whitespace-nowrap">
        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
        <a class="ml-1 text-primary-500">{{secondary}}</a>
    </div>
</div>
<!-- Title -->
<div class="mt-2">
    <h3 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
        {{title}}
    </h3>
</div>