<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Adicionar Módulo</div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <div class="flex items-center justify-between pb-1">
            <div class="w-80">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput [placeholder]="'Digite o titulo do módulo'" #searchInput autocomplete="off">
                </mat-form-field>
            </div>
            <button class="ml-3" mat-stroked-button (click)="novoModulo()">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:plus-sm'"></mat-icon>
                <span class="ml-2">Novo Módulo</span>
            </button>
        </div>

        <table mat-table [dataSource]="modulos.data">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" (click)="selection.toggle(row)">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> MÓDULO </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>

            <ng-container matColumnDef="aulas">
                <th mat-header-cell *matHeaderCellDef> AULAS </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> EDITAR </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <button mat-stroked-button type="button" (click)="close()">Cancelar</button>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="onSubmit()"
                [disabled]="!selection.selected.length">Adicionar</button>
        </div>

    </div>

</div>